PORT=3001
HOST=0.0.0.0
NODE_ENV=production
DATABASE_URL=D:/Applicazioni/SisLog/data/sistema_logistico.sqlite
FRONTEND_ORIGIN=https://NOME-SERVER:3001
FRONTEND_DIST_PATH=D:/Applicazioni/SisLog/frontend/dist
HTTPS_KEY_PATH=D:/Applicazioni/SisLog/backend/certs/sislog-key.pem
HTTPS_CERT_PATH=D:/Applicazioni/SisLog/backend/certs/sislog-cert.pem
